*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}
.grid {
    height: 100vh;
    border: 4px solid rgb(1, 1, 10); 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 0.5em
  }
  
  .grid-item {
    color: white;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .item1{
      background: green;    
      border: 2px solid green;
  }
  .item2{
      background: blue;  
      border: 2px solid blue; 
      grid-row: span 8;
  }
  .item3{
      background: red;   
      border: 2px solid red;
  }