

.contact {
    padding: $stdPadding;
    .wrapper .contact {
        display: flex;
        flex-wrap: wrap;
      }
      .form-wrapper,
      .contact-wrapper {
        padding: $stdPadding;
      }
      
      .copy-wrapper {
        padding-left: $stdPadding;
      }
  }

  