$main_color: #090b08;
$whiteBgColor: #ecffe9;
$lightgreenBgColor: #97d279; 
$black_border: #000;
$stdPadding: 20px;


@mixin textStyle {
    max-width: 700px;
    text-align: center;
    padding: $stdPadding;
    p {
        text-align: justify;
        padding-bottom: 1em;
        line-height: 1.4em;
      }
    
}


