body {
  padding: 1em 2em;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
li {
  text-align: center;
  line-height: 2;
  background: slategrey;
}
div {
  width: 12em;
  float: left;
  margin-right: 2em;
}
hr {
  clear: both;
  padding-top: 1em;
  border: 0;
  border-bottom: 1px solid grey;
}

/* 
Column 1: Select <li> elements that are the first child of their parent.

* Use the class one, referring to the class of the first list. "Select" in this case, means to change its background color. If you want to reproduce the exact same design, use the color lightsteelblue.

Column 2: Select the third child element of the second element.
Use the class two, referring to the class of the second list.

Column 3: Select the first three <li> elements in every odd element.
Use the class three, referring to the class of the third list.
*/

/* Add your selectors here. Use the background color `lightsteelblue;` */

.one ul li:nth-child(1),
.one ol li:nth-child(1) {
  background-color: lightsteelblue;
}

.two :nth-child(2) li:nth-child(3) {
  background-color: lightsteelblue;
}

/* - Using the :nth-child(-n+3) allows you to pick :nth-child(3) and below so (3,2,1)
   - Using the :nth-child(n+3) allows you to pick :nth-child(3) and 
     above so (3,4,5 etc)
   - Using this nth-child(n+4):nth-child(-n+8) we can select elements within certain 
     ranges, in this case elements 4-8.
*/
.three > :nth-child(odd) li:nth-child(-n + 3) {
  background-color: lightsteelblue;
}

/* ----------------------------------------------------------------- */
div:before {
  font-family: monospace;
  white-space: nowrap;
  font-size: 12px;
}
