*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    font-size: 1rem;
}
h1{
    font-size: 1.1rem;
    padding: 0px;
    margin: 0;
}
.grid-container{

    height: 100vh;
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0.2em;
}
.grid-container > * {
    /* color: rgb(22, 16, 16); */
    padding: 0.5em;
}
.site-header{
    background-color: rgb(59, 191, 231);
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */

}
.logo{
    background-color: rgb(59, 191, 231);
    color: rgb(29, 41, 95);
}
i::before{
    /* background:transparent; */
    /* color: whitesmoke; */
}
.logo:hover{
    background-color: rgb(59, 191, 231);
    color: whitesmoke;
    /* font-size: 1.5rem; */
}
.menu_items, a{
    padding: 5px 10px;
    font-weight: 700;
    color:rgb(29, 41, 95);;
    list-style: none;
    /* text-decoration: none; */

}
a , a:visited{
    text-decoration: none;
    /* color: whitesmoke; */

}
.menu_items:hover, a:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(29, 41, 95);
    /* text-decoration: none; */
}

.site-main{
    background-color: rgb(32, 182, 57);
    grid-row: 2 / span 6;
    overflow: scroll;
}

/* Widgets */
.widget-area{

    width: 100%;
    grid-row: 8 / span 4;
    /* border: 4px solid rgb(167, 12, 12); */
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 84, 230);
    padding: 5px;
}
.widgets_title{
    /* border: 3px solid rgb(45, 33, 202); */
    grid-column: 1 / -1;
    padding: 0px;
}
.widgets{
    /* border: 4px solid rgb(167, 12, 12); */
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;

}
.widget{
    /* border: 3px solid rgb(161, 156, 223); */
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 5px;
    margin-top: 10px;
}
.widget_images{
    width: 30px;
}
figcaption{
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 5px;
}

/* ----------------------------------------------- */
.site-footer{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 75, 163);
    grid-row: 12/ span 1;
}


