

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: gray;
  min-width: 100%;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100%;
  border: 3px solid blue;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  


  .item{
    // min-width: 100px;
    max-width: 100vw;
    // height: 100px;
    background-color: tomato;
  }


  .grid-span-2{
    grid-column: span 2;
  }
  .grid-span-3{
    grid-column: span 3;
  }
  .grid-span-4{
    grid-column: span 4;
  }
}
