@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

/* selector for the left semicircle, selector for the right semicircle  */
h1::before,
h1::after {
  background: #4a90e2;
  content: "";
  display: inline-block;
  width: 25px;
  height: 30px;
  position: absolute;
}

/* selector for the left semicircle  */
h1::before {
  border-radius: 50% 0 0 50%;
  left: 10px;
  top: 10px;
}

/* selector for the right semicircle  */
h1::after {
  border-radius: 0 50% 50% 0;
  right: 10px;
  top: 10px;
}
