

.grid_container{
    width: 100%;
    border: 3px solid blue;
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: auto auto auto;

    &__img-wrapper{
        border: 3px solid red;
    }

    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

