
// General:
$mainFontFamily: Arial, Helvetica, sans-serif;
$mainContainerPadding: 20px;
$mainContainerBgColor: #c3cfe2;
$mainFontSize: 0.6em;

// Card specific
$cardFooterTitleFontSize: 3em;
$cardFooterContentFontSize: 2em;
$cardMinHeight: 400px;
$cardBgColor: #fff;
$cardBorderRadius: 20px 20px 0 0 ;
$cardContentPadding: 10% 8% 20%;

// Footer specific
$footerBgColor: #686de0;
$footerPadding: 15% 10% 10%;
$footerBorderRadius: 0 0 20px 20px;
$profileImageSize: 100px;
