
// variables:
@import "variables";
@import "mixins";
@import "card";
@import "img_grid";



*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-width: 320px;
    height: 100vh;
    line-height: 1.4;
    font-family: $mainFontFamily;
}
.main-container{
    margin: 0 auto;
    @include centerFlex(column);
    gap: 50px;
    background-color: $mainContainerBgColor;
    padding: $mainContainerPadding;
}
