

@mixin flexCenter($direction:row, $justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

header {
    height: 20%;
    @include flexCenter();
    background-color: lightblue;
    gap: 20px;
    color: $textColor;
    button{
        color: $primaryBtn_text_color;
        align-self: center;
        padding: 5px 10px;
        background-color: $primaryBtn;
        &:hover{
            &::after{
                content: "You pushed helloooo button hahah"
            }
        }

    }
    h1{
        color: $textColor;
    }
}