
// Main variables:
$primaryBtn: rgb(4, 19, 95);
$primaryBtn_text_color: whitesmoke;
$textColor: rgb(122, 28, 159);
$parColor: rgb(214, 103, 11);
$contentSize: 1.2em;
$parSize: 1.4em;

// testing borders variables:
$red_border: 3px solid red;
$blue_border: 3px solid blue;
$black_border: 3px solid black;
$green_border: 3px solid green;
