
@import "variables";
@import "header";
@import "contact";
@import "footer";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    width: 100%;
    height: 100vh;
    border: $blue_border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testdiv{
    background-color: red;
}

